<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <a href="?page=1&id=2">跳转到文章列表1</a>
    <a href="?id=2">跳转到文章列表2</a>

    <p>current id: {{id}}</p>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>邮箱</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <th>hy</th>
                <th>root@qq.com</th>
            </tr>
        </tbody>
    </table>
</body>
</html>