<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/login.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/index.css" type="text/css" />

</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th class="header-title">ID</th>
                <th class="header-index">用户名</th>
                <th>邮箱</th>
            </tr>
        </thead>
        <tbody>
            {% for row in xxxxx %}
                <tr>
                    <td>{{row.id}}</td>
                    <td>{{row.username}}</td>
                    <td>{{row.password}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{user}}
</body>
</html>