<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/login.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <meta charset="UTF-8">
    <title></title>

    <style>
        .mycolor2{
            color: blue;
        }
    </style>
    <style>
        .mycolor{
            color: pink;
        }
    </style>
<body>
    <table border="1">
        <a href="{{ reverse('login') }}">跳转到登录页面</a>
        <thead>
            <tr>
                <th class="mycolor">ID</th>
                <th class="header-index">用户名</th>
                <th class="">邮箱</th>
            </tr>
        </thead>
        <tbody>
            <p><span class="header-title">hy</span></p>
        </tbody>
    </table>
</body>
</html>